@import url('https://fonts.googleapis.com/css2?family=Maname&display=swap');

body {
  margin: 0;
  font-family: "Maname", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #243e36;
}